<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PB | <%= title%></title>
    <%- include('./partials/head.ejs') %>
    <!-- <link rel="stylesheet" href="/styles.css" /> -->
    <link rel="stylesheet" href="/w_styles.css" />
    <link rel="stylesheet" href="/common.css" />
    <link rel="stylesheet" href="/navbar.css" />
    <link rel="stylesheet" href="/footer.css" />
    <link rel="stylesheet" href="/addition.css" />
  </head>
  <body>
    <div class="containe">
      <header>
        <%- include('./partials/nav.ejs') %>
      </header>
      <main>
        <section id="filterhome">
          <p>#get_it_filtered!</p>
        </section>
        <section id="product1" class="section-p1">
          <h2>Filtered Products</h2>
          <div id="AppliedFilters">
            <p><strong>Filters</strong></p>
            <% if (filters.material) { %>
              <div class="AppliedFilterProperties">
                <p>Material: <%= filters.material %></p>
              </div>
            <% } %>
            <% if (filters.size) { %>
              <div class="AppliedFilterProperties">
                <p>Size: <%= filters.size.$in %></p>
              </div>
            <% } %>
            <% if (filters.price) { %>
              <div class="AppliedFilterProperties"> 
                <p>Price: <%= filters.price.$lt %></p>
              </div>
            <% } %>
            <% if (filters.color) { %>
              <div class="AppliedFilterProperties"> 
                <p>Color: <%= filters.color %></p>
              </div>
            <% } %>
          </div>
          
          <div class="filterBox">
            <i class="fa-solid fa-filter" id="filterIcon"></i>
          </div>
          <div class="filterTabBox" id="filtershow">
            <i class="fa-solid fa-arrow-left" id="filterBack"></i>
            <br>
            <%- include('./partials/filterTab.ejs') %>
            <br>
            <a href="/new" style="color: black; text-decoration: none;"><i class="fa-solid fa-chevron-left"></i> New Arrivals</a>
          </div>
          <div class="filterNProducts">
            <div class="filterTab">
              <%- include('./partials/filterTab.ejs') %>
              <br>
              <a href="/new" style="color: black; text-decoration: none;"><i class="fa-solid fa-chevron-left"></i> New Arrivals</a>
            </div>
            <section class="allprod">
              <% if (dress.length > 0) { %>
                <% for (let item of dress) { %>
                  <div class="pro-container" id="productContainer">
                    <div class="pro">
                      <a href="/product/<%= item._id %>"><img src=<%= item.image1 %> alt="" /></a>
                      <div class="des">
                        <p><%= item.name %></p>
                        <h4><strong>Rs. <%= item.price %></strong></h4>
                      </div>
                      <button class="wishlistProduct"><i class="fa-regular fa-heart"></i></button>
                      <!-- <button class="btn btn-success "><a href=""><i class="fa-solid fa-cart-plus cart"></i></a></button> -->
                    </div>
                  </div>
                <% } %>
              <% } else { %>
                <p>Empty here</p>
              <% } %>
            </section>
          </div>
        </section>
      </main>
      <footer id="color">
        <%- include('./partials/footer.ejs') %>
      </footer> 
    </div>
  <%- include('./partials/javaS.ejs') %> 
  </body>
</html>