<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PB | <%= item.name %></title>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/p_styles.css" />
    <link rel="stylesheet" href="/common.css" />
    <link rel="stylesheet" href="/navbar.css" />
    <link rel="stylesheet" href="/footer.css" />
    <link rel="stylesheet" href="/addition.css" />
  </head>
  <body>
    <div class="containe">
      <header>
        <%- include('./partials/nav.ejs') %>
        <div class="contain">
          <div class="single-image">
            <div id="link">
              <a href="/"><h6><strong>Home/</strong></h6></a>
              <a href="/new"><h6><strong>New Arrivals</strong></h6></a>
            </div>
            <img src=<%= item.image1 %> alt="" id="mainimage" >
          </div>
          <div class="img-det">
            <h1><%= item.name %></h1>
            <h2>Rs. <%= item.price %></h2>
            <div class="drop">
              <select name="size" id="dresssize">
                <option value="none">select size</option>
                <% for (let i in item.size) { %>
                  <option value="<%= item.size[i] %>"><%= item.size[i] %></option>
                <% } %>
              </select>
            </div>
            <div class="btn-group">
              <form method="post" action="/product/<%= item._id %>">
                <input type="hidden" value="<%= item._id %>" name="id">
                <input type="hidden" value="<%= user %>" name="currentUser" id="currentUser">
                <input type="hidden" id="selectedSize" name = "size">
                <div>
                  <button onclick="addToCart(event)" type="submit" class="btn btn-success " >Add to cart</button>
                  <div id="notification" class="notification">Item added to cart!</div>
                </div>
              </form>
            </div>
            <div class="btn-group">
              <form method="post" action="/wishlist/<%= item._id %>">
                <input type="hidden" value="<%= item._id %>" name="id">
                <input type="hidden" value="<%= user %>" name="currentUser" id="currentUser">
                <div>
                  <button onclick="addToWishlist()" type="submit" class="btn btn-danger " >Wishlist</button>
                  <div id="wnotification" class="notification"></div>
                </div>
              </form>
                    <!-- <a href="/"><button type="button" class="btn btn-danger " >Wishlist</button></a> -->
            </div>
          </div>
          <div class="smallimggrp">
            <div class="smallimgcol">
              <img src=<%= item.image2 %> alt=""  class="smallimg sm1">
            </div>
            <div class="smallimgcol">
              <img src=<%= item.image3 %> alt=""  class="smallimg sm2">
            </div>
          </div>
          <div class="prodDetails">
            <h3>Product details</h3>
            <hr>
            <div id="dress-mat-col">
              <h5><i class="fa-solid fa-shirt"></i> <%= item.material %></h5>
              <h5 style="color: <%= item.color %>;"><i class="fa-solid fa-palette"></i> <%= item.color %></h5>
            </div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt laudantium tempora quae eaque in? Quis odit accusantium dolor numquam eum? Facere accusantium totam suscipit quidem corporis quaerat tempore voluptas magni. Eveniet quis nesciunt in voluptates facere minus libero quae ipsum? Harum, eius? Perspiciatis sequi deleniti ea, quis nobis porro maiores, dignissimos itaque recusandae incidunt exercitationem nemo. </p>
          </div>
        </div> 
        <!-- <hr>  -->
        <div>
          <h1 style="margin-left: 12vw ;">Similar products</h1>
          <div class="SimilarProducts">

          </div>
        </div>    
      </header>
    </div> 
  <footer id="color">
    <%- include('./partials/footer.ejs') %>
  </footer> 
  <%- include('./partials/javaS.ejs') %>
  <script>
    const Mainimage = document.getElementById('mainimage')
    const Smallimg = document.getElementsByClassName('smallimg')
    Smallimg[0].onclick = () => {
        var changeImage = Mainimage.src;
        Mainimage.src = Smallimg[0].src;
        Smallimg[0].src = changeImage
    }
    Smallimg[1].onclick = () => {
        var changeImage = Mainimage.src;
        Mainimage.src = Smallimg[1].src;
        Smallimg[1].src = changeImage
    }
  </script>
  </body>
</html>