<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PB | <%= title%></title>
    <%- include('./partials/head.ejs') %>
    <!-- <link rel="stylesheet" href="/styles.css" /> -->
    <link rel="stylesheet" href="/w_styles.css" />
    <link rel="stylesheet" href="/common.css" />
    <link rel="stylesheet" href="/navbar.css" />
    <link rel="stylesheet" href="/footer.css" />
    <link rel="stylesheet" href="/addition.css" />
  </head>
  <body>
    <div class="containe">
      <header>
        <%- include('./partials/nav.ejs') %>
      </header>
      <main>
        <section id="home">
          <p>#explore_womens'_store</p>
        </section>
        <section id="product1" class="section-p1">
          <h2>New Arrivals</h2>
          <p>Top collections</p>
          <div class="filterBox">
            <i class="fa-solid fa-filter" id="filterIcon"></i>
          </div>
          <div class="filterTabBox" id="filtershow">
            <i class="fa-solid fa-arrow-left" id="filterBack"></i>
            <br>
            <%- include('./partials/filterTab.ejs') %>
          </div>
          <div class="filterNProducts">
            <div class="filterTab">
              <%- include('./partials/filterTab.ejs') %>
            </div>
            <section class="allprod">
              <% var color; %>
              <% var icon; %>
              <% if (dress.length > 0) { %>
                <% for (let item of dress) { %>
                  <div class="pro-container" id="productContainer">
                    <div class="pro">
                      <a href="/product/<%= item._id %>"><img src=<%= item.image1 %> alt="" /></a>
                      <div class="des">
                        <p><%= item.name %></p>
                        <h4><strong>Rs. <%= item.price %></strong></h4>
                      </div>
                      <form method="post" action="/wishlist/<%= item._id %>">
                        <input type="hidden" value="<%= item._id %>" name="id">
                        <input type="hidden" value="<%= user %>" name="currentUser" id="currentUser">
                        <div>
                          <% if(wishlist) {%>
                            <% for (let witem of wishlist.products){ %>
                              <% if (witem.product == item._id.toString()){ %>
                                <% color = 'red' %>
                                <% icon = "fa-solid fa-heart" %>
                                <% break; %>
                              <% }else{ %>
                                <% color = 'grey' %>
                                <% icon = "fa-regular fa-heart" %>
                              <% } %>
                            <% } %>
                          <button onclick="addToWishlist(); reloadPage()" type="submit" class="btn btn-danger heart" style="color: <%= color%>;"><i class='<%= icon%>'></i></button>
                          <div id="wnotification" class="notification"></div>
                          <% }else{ %>
                            <button onclick="addToWishlist()" type="submit" class="btn btn-danger heart" style="color: grey;"><i class="fa-regular fa-heart"></i></button>
                            <div id="wnotification" class="notification"></div>
                            <% } %>
                        </div>
                      </form>
                      <!-- <button class="wishlistProduct"><i class="fa-regular fa-heart"></i></button> -->
                      <!-- <button class="btn btn-success "><a href=""><i class="fa-solid fa-cart-plus cart"></i></a></button> -->
                    </div>
                  </div>
                <% } %>
              <% } else { %>
                <p>Empty here</p>
              <% } %>
            </section>
          </div>
        </section>
      </main>
      <footer id="color">
        <%- include('./partials/footer.ejs') %>
      </footer> 
    </div>
  <%- include('./partials/javaS.ejs') %> 
  </body>
</html>